<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/Calculator/action">
        <div>
            <input type='number' placeholder='A' name="tbA" />
        </div>
        <div>
            <input type='number' placeholder='B' name='tbB' />
        </div>
        <div>
            <label name='lblResult'>{{result}}</label>
        </div>
        <div>
            <button type='submit' id='btnAdd' name='btn' value="add">Add</button>
            <button type='submit' id='btnSubstract' name='btn' value="substract">Substract</button>
            <button type='submit' id='btnMultiply' name='btn' value="mult">Multiply</button>
            <button type='submit' id='btnDevide' name='btn' value="devide">Devide</button>
        </div>
    </form>
</body>

</html>